/* MAIN SLIDE */

.pixel .slide-wrapper
{
	/*background-color:#FFF;
	border:4px solid #FFF;
	-moz-box-shadow: 0px 0px 10px #CCC;
	-webkit-box-shadow: 0px 0px 10px #CCC;
	box-shadow: 0px 0px 10px #CCC;*/
}

/* END OF MAIN SLIDE */

/* SLIDE CAPTION */

.pixel .caption .background
{
	background-color:#000;
	width:100%;
	height:100%;
}


.pixel .caption .content
{	
	color:#FFF;
	margin:0px;
	padding:8px;
	font-size:16px;
	line-height:18px;
}

/* END OF SLIDE CAPTION */
/* main container of the navigation buttons */


/* TOOLTIP */

.pixel .tooltip .content
{
	color:#999;
	padding:10px;
	margin:0px;
}
/* END OF TOOLTIP */



/************          BEGIN advanced-slider            *******************/

.advanced-slider
{
	position:relative;
	overflow:visible;
	font-family:Arial, Helvetica, sans-serif;
}


.advanced-slider *
{
	margin:0px;
	padding:0px;
}

.slider{list-style:none;padding:15px 0 0 16px}
.slider-item
{
	position:absolute;
	left:-9999px;	
}


.advanced-slider .slide-wrapper
{
	position:absolute;
	overflow:visible;
	z-index:2;
}


.advanced-slider .slide
{
	position:absolute;
	width: 100%;
	height: 100%;
	z-index:10;
}


.advanced-slider .slice
{
	display:block;
	position:absolute;
}


.advanced-slider .preloader
{
	position:absolute;
	z-index:15;
}


.advanced-slider .navigation-arrows a
{
	position:absolute;
	z-index:30;
	cursor:pointer;
}


.advanced-slider .slideshow-controls
{
	position:absolute;
	z-index:40;
	cursor:pointer;
}


.advanced-slider .shadow
{
	position:absolute;
	z-index:1;
}


.advanced-slider .shadow .shadow-left, .advanced-slider .shadow .shadow-right, .advanced-slider .shadow .shadow-middle
{
	float:left;
}
/*
Timer advanced slider*/
.advanced-slider .timer-animation 
{
	height:20px;
	position:absolute;
	z-index:60; visibility:hidden;
	bottom:3px;
	right:2px
}
/*End Timer advanced slider*/

.advanced-slider .caption
{
	overflow:hidden;
	position:absolute;
	z-index:20;
}


.advanced-slider .caption .wrapper
{
	position:absolute;
}


.advanced-slider .caption .background
{
	position:absolute;
	z-index:10;
	width:100%;
	height:100%;
}


.advanced-slider .caption .content
{	
	position:absolute;
	z-index:20;
}




.advanced-slider .navigation-buttons
{
	position:absolute;
	z-index:50;
}


.advanced-slider .navigation-buttons .left, .advanced-slider .navigation-buttons .right, .advanced-slider .navigation-buttons .middle
{
	float:left;
}


.advanced-slider .buttons a
{
	position:relative;
	cursor:pointer;
	float:left;
}

.advanced-slider .tooltip
{
	position:absolute;
	z-index:9999;
}

/************          End advanced-slider            *******************/